* {
	transition: 0.3s ease;
	font-family: 'Bungee Inline', cursive;
	font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	color: white;
	overflow: hidden;
}
a {
	color: white;
	text-decoration: none;
}
iframe {
	display: block;
	margin: auto;
	min-width: 80%;
	height: 60vh;
}
.myButton {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: #EC3D30;
	border: none;
	padding: 7px 15px;
}
.left, .right {
	display: inline-block;
	vertical-align: : top;
	min-height: 100vh;
}
div.left {
	position: fixed;
	background-color: black;
	width: 20%;
	text-align: center;
	border-right: 3px solid #EC3D30;
}
div.left img {
	width: 100%;
}
div.left ul {
	padding-left: 0;
	list-style-type: none;
}
div.left ul li {
	padding: 15px 0;
	max-height: 5vh;
}
div.left ul li:hover a {
	font-size: 1.6rem;
	text-shadow: 0 0 10px white, 0 0 25px white, 0 0 50px white;
}
div.right {
	float: right;
	width: 80%;
	background-image: url("../img/trex.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
}
div.right h1 {
	text-transform: uppercase;
}
div.right p, div.right ul li {
	font-family: initial;
}
div.right p, div.right ul, div.right h4 {
	list-style-type: none;
	padding: 0 50px;
	line-height: 1.5em;
}
div.right h4:hover {
	background-color: rgba(255,255,255,0.4);
}

#trailer, #about, #cast, #links {
	padding: 40px 50px;
	min-height: 100vh;
}